/* Full stack */
.greenBG {
    background-color:#459489;
    
    color:white;
}

.whiteBG {
    background-color:#f7f7f7;
    margin: 0 auto;
    padding: 60px;

}

.whiteBG img {
    width: 100%;
    margin-right:0;
    /* height: 200px; */
}
.overview{
    padding:60px 80px;
    text-align: center;
}
.overview > p{
    margin-top: 30px;
}
.textAbout{
    line-height: 1.4em;
    font-size: 1.3em;
}

.projectImg{
    width:150px;
    /* height:160px; */
    min-height: 120px;
    max-height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.projectImg img{
    max-width: 100%;
    height: auto;
}
.row {
    margin-bottom: 0 !important;
}
.techsheet{
    padding:40px 60px;
    text-align: left;;
}
.techsheet img {
    margin-top: 40px;
    width: 300px;
    height:auto;
}
.techsheet ol li {
    list-style-type: circle;
}
.codeTech{
    font-size: 1.1em;
    color: #cccccc;
}
.imgTech{
    width:100%;
    text-align: center;
}