/* All projects */
.greenBG {
    background-color:#459489;
    
    color:white;
}

.whiteBG {
    background-color:#f7f7f7;
    margin: 0 auto;
    padding: 60px;

}

.whiteBG img {
    width: 100%;
    margin-right:0;
    /* height: 200px; */
}
.textSub{
    font-size: 1.1em;
}
/* Full stack */
.overview{
    padding:60px 80px;
    text-align: center;
}
.overview > p{
    margin-top: 30px;
}
.textAbout{
    line-height: 1.4em;
    font-size: 1.3em;
}

.row {
    margin-bottom: 0 !important;
}
.techsheet{
    padding:40px 60px;
    text-align: left;;
}

.techsheet ol li {
    list-style-type: circle;
}
.codeTech{
    font-size: 1.1em;
    color: #cccccc;
}
.imgTech img{
    width:60%;
    margin: 20px auto;
}

/* electron */
.imageElectron{
    overflow: hidden;
    position:relative;
    width:200px;
    height:200px;
    padding:30px;

}
.imageElectron img{
    position:absolute;   
    top:0;
    left:20px;
}

.electronp1 img {
    width: 70%;
    margin:auto;
}
.electronTool { text-align: center;}
.electronTool img {width: 50%;}

/* php */
.imagephp{
    overflow: hidden;
    position:relative;
    width:200px;
    height:250px;
    padding:30px;

}
.imagephp img{
    position:absolute;   
    top:0;
    left:20px;
}
/* design */
.designPage{
    overflow: hidden;
    position:relative;
    width:200px;
    height:350px;
    padding:30px;
}
.designPage img {
    position:absolute;   
    top:0;
    left:20px;
}
.designFooter {
    padding:0 !important;
    text-align: center;
}