/* All projects */
.greenBG {
    background-color:#459489;
    
    color:white;
}

.whiteBG {
    background-color:#f7f7f7;
    margin: 0 auto;
    padding: 60px;

}

.whiteBG img {
    width: 100%;
    margin-right:0;
    /* height: 200px; */
}
.textSub{
    font-size: 1.1em;
}
.overview{
    padding:60px 80px;
    text-align: center;
}
.overview > p{
    margin-top: 30px;
}
.textAbout{
    line-height: 1.4em;
    font-size: 1.3em;
}

.row {
    margin-bottom: 0 !important;
}

.techsheet{
    padding:40px 60px;
    text-align: left;;
}

.techsheet ol li {
    list-style-type: circle;
}
.codeTech{
    font-size: 1.1em;
    color: #cccccc;
}

/* Full stack */
.fullstackImg img{
    width: 70%;
    margin:auto;
}
.imagefull{
    overflow: hidden;
    position:relative;
    width:200px;
    height:150px;
    padding:30px;
}

.imagefull img{
    position:absolute;   
    top:0;
    left:20px;
}

.imgTech {text-align: center;}
.imgTech img{
    width:60%;
    margin: 20px auto;
}

/* jobFair */
.imageJob{
    overflow: hidden;
    position:relative;
    width:150px;
    height:250px;
    padding:30px;
    margin-bottom:20px;
}

.imageJob img{
    position:absolute;   
    top:0;
    left:20px;
}
.jobTool {
    text-align: center;
    margin-top:30px;
}

.jobTool img{
    width: 45%;
    
}
/* electron */
.imageElectron{
    overflow: hidden;
    position:relative;
    width:200px;
    height:250px;
    padding:30px;

}
.imageElectron img{
    position:absolute;   
    top:0;
    left:20px;
}

.electronp1 img {
    width: 70%;
    margin:auto;
}
.electronTool { 
    text-align: center;
    margin-top:30px;
}
.electronTool img {
    width: 45%;   
}

/* php */
.phpMain img{
    width: 80%;
    margin:auto;
}
.imagephp{
    overflow: hidden;
    position:relative;
    width:200px;
    height:250px;
    padding:30px;
    margin-bottom:30px;
}
.imagephp img{
    position:absolute;   
    top:0;
    left:20px;
}
.bottomImgphp img{
    width:70%;
    margin:auto;
}
/* design */
.designPage{
    overflow: hidden;
    position:relative;
    width:200px;
    height:350px;
    padding:30px;
}
.designPage img {
    position:absolute;   
    top:0;
    left:20px;
}
.designFooter {
    padding:0 !important;
    text-align: center;
}

@media screen and (max-width: 600px) {

    .imageElectron {
        height:200px;
        margin-bottom:30px;
    }
    .electronTool img {
        width: 50%;
    }

    .imageElectron {
        height: 120px;
    }
    .imageJob{
        height:150px;
    }
    .jobTool img {
        width:80%;
    }
    .imagephp {
        height: 120px;
    }
}
@media screen and (max-width: 800px) {
    .electronTool img {
        width: 60%;
    }
    .imageElectron {
        height: 200px;
    }
}